* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Gilroy;
}

/* -------------header start----------- */

.header {
  background: rgb(255, 82, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
}

.logo {
  width: 160px;
}

.header-right {
  display: flex;
  gap: 44px;
  align-items: center;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-right-btn-1 {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.header-right-btn-1 .arrow-icon {
  rotate: -45deg;
  color: white;
  background-color: rgb(255, 82, 0);
}

.header-right-btn-2 {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  height: 50px;
  padding: 0 44px;
  font-size: 16px;
  cursor: pointer;
}

/* ----------header end---------- */

/* ----------hero section start----------- */

.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 82, 0);
}

.hero-center {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding-top: 64px;
  /* background-color: aqua; */
  /* justify-content: center; */
}

.hero-center h1 {
  color: white;
  font-size: 48px;
}

.hero-left img,
.hero-right img {
  width: 248px;
}

.input-wrapper {
  display: flex;
  gap: 20px;
}

.location-input {
  width: 300px;
  height: 60px;
  border-radius: 14px;
  border: none;
  padding: 12px;
}

.search-input {
  width: 460px;
  height: 60px;
  border-radius: 14px;
  border: none;
  padding: 12px;
}

.search-input::placeholder,
.location-input::placeholder {
  font-weight: bold;
  font-size: 16px;
  color: rgb(156, 156, 156);
}

.images-wrapper {
  background-color: rgb(255, 82, 0);
  display: flex;
  justify-content: center;
  margin-top: -220px;
}

.images-wrapper img {
  width: 400px;
}

/* ------------ hero section end ------------ */

.food-options-section {
  padding: 100px 150px;
}

.food-option-heading {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-wrapper {
  display: flex;
  gap: 10px;
}

.fa-arrow-left {
  background-color: rgb(232, 232, 232);
  color: gray;
}

.fa-arrow-right {
  background-color: rgb(214, 214, 214);
  color: rgb(79, 79, 79);
}

.arrow-wrapper i {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
}

.food-options {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.food-options a {
  color: #02060cbf;
  text-decoration: none;
}

.food-options img {
  width: 180px;
}

.container-2 {
  margin-top: 30px;
  /* border: 4px solid red; */
  /* background-color: aqua; */
  overflow: auto;
  gap: 20px;
}

.container-2::-webkit-scrollbar {
  display: none;
}

.container-2 a img {
  width: 160px;
}

/* ------------ restaurant section start -------------- */

.restaurant-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  overflow-x: scroll;
  margin: 40px 0;
}

.restaurant-wrapper::-webkit-scrollbar {
  display: none;
}

.rest-card {
  width: 340px;
  color: rgba(2, 6, 12, 0.6);
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgb(231, 231, 231);
  flex-shrink: 0;
}

.rest-card-box {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  width: 340px;
  height: 200px;
  background-image: url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/DINEOUT_ALL_RESTAURANTS/IMAGES/RESTAURANT_IMAGE_SERVICE/2024/9/25/d9cabbe8-13f0-4581-809a-455776bb5d8a_image4487a6c993754471f99c03ffac3103512.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: flex-end;
}
/* 
.rest-card img {
  width: 340px;
} */

.rest-card-box-1,
.rest-card-box-2 {
  display: flex;
  justify-content: space-between;
}

.rest-card-booking {
  background-color: rgb(232, 232, 232);
  width: max-content;
  border-radius: 12px;
  padding: 2px 8px;
}

.rest-card-box-3 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 166, 114);
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
}

.rest-card-bank-offers {
  background-color: #c8f9e5;
  color: rgb(27, 166, 114);
  padding: 8px;
  border-radius: 8px;

  /* margin-bottom: 10px; */
}